<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <meta name="description" content="Share and discover the Web with Yummy social bookmarking service.">
    <link href="https://yummy.herokuapps.com/img/fav-icon.png" rel="icon">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style2.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.css') }}">
    <title>Yummy Home Page</title>
  </head>
  <body>
    <div class="footer">
      <div class="container">
        <div class="footerLeft">
          <p><a href="https://yummy.herokuapps.com/" target="_top">Yummy</a> /
            username / <input name="tag" type="text"></p>
        </div>
        <div class="footerRight">
          <p><a href="/popular">popular</a> | <a href="/recent">recent</a></p>
          <p><a href="/login">login</a> | <a href="/register">register</a> | <a
              href="/help">help</a></p>
        </div>
      </div>
    </div>
    <br>
    <div class="header">
      <div class="container">
        <div class="logo"> <br>
        </div>
        Username's items
        <div class="headerSearchPan">
          <div class="searchPanel">
            <form id="global-searchform" action="https://yummy.herokuapps.com/search"
              method="get" target="_top"> <input autocomplete="off" name="p" id="global-searchinput"
                class="searchInput" placeholder="Search" type="text"> <button type="submit">Search</button>
            </form>
          </div>
        </div>
        <div class="clear"><!-- --></div>
      </div>
    </div>
    <p><br>
    </p>
    <p> &lt; earlier | later &gt; page 1 of 32 </p>
    <div align="right"><br>aaa
    </div>
    <p><br>
    </p>
    <p>Google save this</p>
    <p>the world's leading search engine</p>
    <p>search-engine ad-seller saved by 3 other people on Apr 20</p>
  </body>
</html>
